
#player1 {
  background-color:lightblue;
  padding: 25px;
  opacity: 90%;
}
#winner {
  display:none;
}
#player2 {
background-color: lightcoral;
  padding: 25px;
  opacity: 90%;
}

body {
  /* background-color: lightslategray;
   */
  background-image: url(https://media.giphy.com/media/xULW8rvzyLyeEZZ4Hu/giphy.gif);
  background-image:repeat;
  background-position: center;
  margin:50px;
  padding:25px;
  text-align: center;
}

#turnOver1 {
  display:none;
}

#turnOver2 {
  display:none;
}
a {
  color:black;
}
a{
  
}